.contact-page {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;
}

.contact-page h1 {
    font-weight: 700;
    font-size: 70px;


}

.info-block {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.info-block h2 {
    font-family: Montserrat;
font-weight: 500;
font-size: 20px;
line-height: 130%;
letter-spacing: 0%;

    margin-bottom: 10px;
}

.info-block p {
    font-weight: 600;
    font-size: 42px;

}

.phone,
.address {
    width: calc(50% - 10px);
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.socials,
.working-hours {
    width: calc(50% - 10px);
    display: inline-block;
    vertical-align: top;
}

.socials .social-icons {
    display: flex;
    gap: 10px;
}

.socials .social-icons a {
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
}

.map-container {
    margin-top: 40px;
}

.map-container iframe {
    border: 1px solid #ddd;
    border-radius: 8px;
}