.product-detail {
    max-width: 1600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.cn-quantity {
    display: flex;
    gap: 30px;
}

.product-content {
    margin: 120px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.product-price-2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.discount-badge-2 {
    background-color: #339933;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 15px;
    width: 58px;
    height: 30px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    font-weight: bold;
}



.product-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.product-title-2 {
    font-size: 28px;
    color: #282828;
    font-weight: bold;
}

.old-price-2 {
    text-decoration: line-through;
    color: #999;
    font-weight: 500;
    font-size: 44px;
    text-decoration: line-through;
}

.new-price-2 {
    font-weight: bold;
    font-weight: 600;
    margin-right: 16px;
    font-size: 58px;
    color: #282828;
}

.product-description {
    font-size: 16px;
    max-width: 500px;
    color: #666;
    line-height: 1.6;
}

.product-image-2 {
    min-width: 790px;
    min-height: 500px;
}

.add-to-cart-btn-2 {
    font-weight: 600;
    font-size: 20px;
    background: #339933;
    color: white;
    width: 330px;
    height: 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.add-to-cart-btn-2:hover {
    background: #282828;
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 25px;
}

.quantity-btn {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quantity-btn:hover {
    background-color: #ccc;
}

.quantity-value {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}