.sale-page {
    width: 1600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.sale-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.sale-header h2 {
    font-weight: 700;
    font-size: 64px;
    margin: 0;
}

.sale-header button {
    background-color: #fff;
    width: 142px;
    height: 36px;
    border-radius: 10px;
    color: #DDDDDD;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sale-header button:hover {
    color: #282828;
    border-color: #282828;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}




