.header {
    width: 1600px;
    margin: 0 auto;
    padding: 0;
}

.cn-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    gap: 32px;
}
.header-nav a{
    text-decoration: none;
    color: #222;
}